Source: conky-toggle
Section: utils
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: conky-toggle
Architecture: all
Depends: conky,
         conky-all,
         conky-manager,
Description: Conky Toggle for HamoniKR
 하모니카 OS의 바탕화면 모니터링 기능을 사용하거나 중지할 수 있는 프로그램.
